{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Ninestars Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static "assets/img/favicon.png" %}" rel="icon">
  <link href="{% static "assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/aos/aos.css" rel="stylesheet" %}">
  <link href="{% static "assets/vendor/glightbox/css/glightbox.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static "assets/css/main.css" %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static "assets/img/logo.png" %}" alt=""> -->
        <h1 class="sitename">JobNest</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Acceuil</a></li>
          <li><a href="#apropos">a-propos</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li class="dropdown"><a href="#"><span>S'authentifier</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'login' %}">Se connecter</a></li>
              <li><a href="{% url 'register' %}">S'inscrire</a></li>
            </ul>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="#apropos">Get Started</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="section hero light-background">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
            <h1>Recrutement simplifié pour les PME</h1>
            <p><p>La solution tout-en-un pour trouver les talents qui feront grandir votre entreprise</p>
            <div class="d-flex">
              <a href=#apropos class="btn-get-started">Découvrir</a>
              <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Voir la démo</span></a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static "assets/img/hero-img.svg" %}" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="apropos" class="section about">

      <div class="container">

        <div class="row gy-3">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static "assets/img/about-img.svg" %}" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="about-content ps-0 ps-lg-3">
              <h3>La solution de recrutement adaptée aux petites et moyennes entreprises</h3>
              <p class="fst-italic">
                Conçu spécifiquement pour répondre aux besoins des PME, notre plateforme combine simplicité et efficacité.
              </p>
              <ul>
                <li>
                  <i class="bi bi-diagram-3"></i>
                  <div>
                    <h4>Gestion centralisée des candidatures</h4>
                    <p>Suivez toutes vos candidatures en un seul endroit, avec un système de tri intelligent</p>
                  </div>
                </li>
                <li>
                  <i class="bi bi-fullscreen-exit"></i>
                  <div>
                    <h4>Interface intuitive</h4>
                    <p>Créez et publiez vos offres en quelques clics seulement</p>
                  </div>
                </li>
              </ul>
              <p>
                Notre plateforme élimine les complexités du recrutement en ligne, vous permettant de vous concentrer sur ce qui compte vraiment : trouver les meilleurs talents pour votre entreprise. Avec des outils spécialement conçus pour les PME, vous gagnerez du temps et optimiserez votre processus de recrutement.
              </p>
            </div>

          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Services Section -->
    <section id="services" class="services section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Nos avantages</h2>
        <p>Découvrez pourquoi notre solution est parfaite pour votre PME</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-activity icon"></i></div>
              <h4><a href="service-details.html" class="stretched-link">Tarifs adaptés</a></h4>
              <p>Des abonnements accessibles spécialement conçus pour les PME</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
              <h4><a href="service-details.html" class="stretched-link">Tri intelligent</a></h4>
              <p>Notre algorithme classe automatiquement les candidatures pertinentes</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
              <h4><a href="service-details.html" class="stretched-link">Messagerie intégrée</a></h4>
              <p>Communiquez directement avec les candidats depuis la plateforme</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-broadcast icon"></i></div>
              <h4><a href="service-details.html" class="stretched-link">Alertes personnalisées</a></h4>
              <p>Recevez des notifications pour les candidats correspondant à vos critères</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

     

    

    <!-- Clients Section -->
    <section id="clients" class="clients section light-background"> 

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Clients</h2>
        <p>Leur confiance est pour nous la preuve de notre expertise</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static "assets/img/clients/client-1.png" %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static "assets/img/clients/client-2.png" %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static "assets/img/clients/client-3.png" %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static "assets/img/clients/client-4.png" %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static "assets/img/clients/client-5.png" %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static "assets/img/clients/client-6.png" %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static "assets/img/clients/client-7.png" %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static "assets/img/clients/client-8.png" %}" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Clients Section -->

  </main>

  <footer id="footer" class="footer position-relative">

    



    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">JobNest</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "assets/vendor/php-email-form/validate.js" %}"></script>
  <script src="{% static "assets/vendor/aos/aos.js" %}"></script>
  <script src="{% static "assets/vendor/glightbox/js/glightbox.min.js" %}"></script>
  <script src="{% static "assets/vendor/imagesloaded/imagesloaded.pkgd.min.js" %}"></script>
  <script src="{% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "assets/vendor/swiper/swiper-bundle.min.js" %}"></script>

  <!-- Main JS File -->
  <script src="{% static "assets/js/main.js" %}"></script>

</body>

</html>